@model IEnumerable<Laboratorio.Models.Requisicao>
@{
    ViewData["Title"] = "Index";
}
<h2>Requisição</h2>
<p>
    <a asp-action="Create">Nova Requisição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Convenio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostoColeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desconto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Convenio.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostoColeta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solicitante.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    <a class="btn btn-light">Imprimir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
