@model IEnumerable<Laboratorio.Models.Exame>

@{
    ViewData["Title"] = "Index";
}

<h2>Exames</h2>

<p>
    <a asp-action="Create">Novo Exame</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sinonimo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinonimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhe</a>
            </td>
        </tr>
}
    </tbody>
</table>
